/*body {
  background-color: #010101;
}
*/

/*General fonts*/
h1 body {
  font-family: 'Alice', serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
}

p {
  font-family: 'Alice', serif;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
}

/*nav bar + header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
}

header a img {
  height: 80px;
}

nav {
  flex-grow: 1;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: block;
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

nav ul li a:hover {
  background-color: #111;
}

header input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  margin-left: 20px;
  height: 40px;
}

/*General main*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
}

/* Text Container*/
main>div:first-child {
  margin-bottom: 20px;
}

/* h1 h2 h3 style*/
main h1 {
  font-size: 3rem;
  color: #333;
  margin-bottom: 10px;
}

main h2 {
  font-size: 2rem;
  color: #666;
  margin-bottom: 10px;
}

main h3 {
  font-size: 1.5rem;
  color: #888;
  margin-bottom: 20px;
}

/* btn style UNITE */
main>div:nth-child(2) button {
  padding: 10px 20px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 30px;
}

main>div:nth-child(2) button a {
  text-decoration: none;
  color: white;
}

main>div:nth-child(2) button:hover {
  background-color: #ff4500;
}

/* Img Containers!! FIX*/
main>div:nth-child(3),
main>div:nth-child(4),
main>div:nth-child(5),
main>div:nth-child(6) {
  display: inline-flexbox;
  margin: 15px;
  text-align: center;
}

/* Estilos para las imágenes */
main img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #333;
  margin-bottom: 10px;
}

/* Estilo para los botones debajo de cada imagen */
main button a {
  text-decoration: none;
  color: white;
}

main button {
  padding: 8px 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

main button:hover {
  background-color: #555;
}

/*section valores*/
.cardValues {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #333;
  margin-bottom: 10px;
}

/*video*/
/* Contenedor Flex para organizar el video y el texto */
.historia-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px; /* Espacio entre el video y el artículo */
}

/* Estilos para el video */
.historia-container video {
  flex: 1;
  max-width: 45%;
  height: auto;
}

/* Estilos para el artículo */
.historia-container article {
  flex: 1;
  max-width: 50%; 
  overflow:hidden; 
  height: 400px;
  position: relative;
}

/* Crear el efecto "Leer más" */
.historia-container article::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
}


/*Footer*/
footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footerColumn {
  flex: 1;
  margin: 10px;
}

.footerLogo {
  width: 150px;
}

.socialLinks a {
  display: block;
  color: #fff;
  margin-top: 10px;
  text-decoration: none;
}

.footerColumn ul {
  list-style: none;
  padding: 0;
}

.footerColumn ul li {
  margin-bottom: 10px;
}

.footerColumn ul li a {
  color: #fff;
  text-decoration: none;
}

.footerColumn ul li a:hover {
  text-decoration: underline;
}

.footerCopyright p {
    margin: 0;
}


iframe {
  width: 100%;
  height: 150px;
  border: none;
}

/*Cards Courses*/
.flipCard {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipCardFront {
  background-color: #bbb;
  color: black;
}

.flipCardBack {
  background-color: #fe5018;
  color: #1f1c2d;
  transform: rotateY(180deg);
}

/*sección valores*/
/* Estilos generales para la sección */
#SeccionValores {
  padding: 20px;
}

/* Estilos para el artículo */
#SeccionValores article {
  .gridContainer {
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color:#fe5018;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
}
